/* forum-regular - latin */
@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/forum-v16-latin-regular.woff2") format("woff2"), url("../fonts/forum-v16-latin-regular.woff") format("woff");
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/roboto-v30-latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-latin-300.woff") format("woff");
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #fff;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1480px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.visally-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  height: 150px;
  background-color: #000000;
}

.header__inner {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site__logo {
  width: 199px;
  height: 33px;
}

.site__logo:hover {
  opacity: 0.7;
}

.nav__list {
  display: flex;
}
.nav__item + .nav__item {
  margin-left: 65px;
}
.nav__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #fff;
  transition: all 0.4s linear;
}
.nav__link:hover {
  color: #9d8665;
}
.nav__link:active {
  opacity: 0.5;
  color: #7e6c51;
}

.header__button {
  display: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__menu-oppen {
  width: 32px;
  height: 18px;
}

@media only screen and (max-width: 1321px) {
  .header {
    height: 130px;
  }

  .header__inner {
    height: 130px;
  }
}
@media only screen and (max-width: 1110px) {
  .header__nav {
    display: none;
  }

  .header__button {
    display: block;
  }
}
@media only screen and (max-width: 930px) {
  .header {
    height: 110px;
  }

  .header__inner {
    height: 110px;
  }
}
@media only screen and (max-width: 420px) {
  .header {
    height: 90px;
  }

  .header__inner {
    height: 90px;
  }
}
.hero {
  min-height: 842px;
  background-color: #000000;
  z-index: 2;
}

.hero__inner {
  padding-top: 150px;
  min-height: 842px;
  position: relative;
  z-index: 1;
}

.hero__slider {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.slide__img {
  width: 1000px;
  height: 750px;
}

.hero__content {
  width: 100%;
  max-width: 598px;
}

.hero__title {
  margin-bottom: 25px;
  width: 100%;
  max-width: 593px;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 79px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.hero__description {
  margin-bottom: 75px;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
}

.hero__button-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  width: 360px;
  height: 75px;
  padding: 0 64px;
  background-color: #710707;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.4s linear;
  padding: 20px 40px;
}

.hero__button-link:hover {
  transition: all 0.4s linear;
  background-color: #9d8665;
}

.slider__content {
  position: relative;
}

.slider__pagination {
  width: 100%;
  max-width: 600px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: -60px;
  background-color: #030303;
}

.page__number {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.pagination__list {
  display: flex;
}

.pagination__item {
  width: 16px;
  height: 16px;
  background-color: #fff;
}

.pagination__item:first-child {
  background-color: #d2b183;
}

.pagination__item + .pagination__item {
  margin-left: 25px;
}

.slider__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media only screen and (max-width: 1320px) {
  .hero {
    min-height: 585px;
  }

  .hero__inner {
    padding-top: 50px;
    min-height: 585px;
  }

  .hero__slider {
    max-width: 700px;
  }

  .slide__img {
    width: 700px;
    height: 525px;
  }

  .hero__content {
    max-width: 445px;
  }

  .hero__title {
    max-width: 400px;
    font-size: 50px;
    line-height: 90px;
  }

  .hero__description {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 28px;
  }

  .hero__button-link {
    width: 300px;
    height: 60px;
    padding: 20px 40px;
  }

  .hero__button-link {
    font-size: 20px;
    line-height: 23px;
  }

  .slider__pagination {
    padding-left: 224px;
    max-width: 700px;
  }

  .pagination__list {
    display: flex;
  }

  .pagination__item {
    width: 12px;
    height: 12px;
  }
}
@media only screen and (max-width: 930px) {
  .hero {
    padding-bottom: 30px;
    min-height: auto;
  }

  .hero__inner {
    padding-top: 0px;
    min-height: auto;
  }

  .hero__slider {
    max-width: 728px;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .slide__img {
    width: 100%;
    max-width: 728px;
    height: auto;
  }

  .hero__content {
    margin: 0 auto;
    max-width: 332px;
    min-height: 165px;
    text-align: center;
  }

  .hero__title {
    max-width: 332px;
    font-size: 40px;
    line-height: 60px;
  }

  .hero__description {
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
  }

  .hero__button-link {
    display: none;
  }

  .slider__content {
    position: relative;
  }

  .slider__pagination {
    padding-left: 0;
    margin-top: 30px;
    max-width: 401px;
    height: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
  }

  .page__number {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
  }

  .pagination__list {
    display: flex;
  }

  .pagination__item {
    width: 16px;
    height: 16px;
    background-color: #fff;
  }

  .pagination__item:first-child {
    background-color: #d2b183;
  }

  .pagination__item + .pagination__item {
    margin-left: 25px;
  }

  .slider__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
@media only screen and (max-width: 420px) {
  .hero {
    padding-bottom: 20px;
    min-height: auto;
  }

  .hero__inner {
    padding-top: 5px;
  }

  .hero__content {
    max-width: 280px;
  }

  .hero__title {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 252px;
    font-size: 28px;
    line-height: 40px;
  }

  .hero__description {
    font-weight: 276px;
    font-size: 16px;
    line-height: 19px;
  }

  .hero__slider {
    max-width: 380px;
  }

  .slide__img {
    width: 100%;
    max-width: 380px;
  }

  .slider__pagination {
    margin-top: 20px;
    max-width: 230px;
    justify-content: space-between;
  }

  .page__number {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
  }

  .pagination__item {
    width: 7px;
    height: 7px;
  }

  .pagination__item + .pagination__item {
    margin-left: 10px;
  }
}
.tour {
  padding: 75px 0;
  background-color: #fff;
}

.tour__title {
  position: relative;
  margin-bottom: 103px;
  height: 90px;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
}

.tour__title::before {
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1440px;
  height: 3px;
  background-color: #710707;
  content: "";
}

.tour__carts {
  display: grid;
  grid-template-columns: 420px 420px 420px;
  justify-content: space-between;
}

.tour__cart {
  margin-bottom: 75px;
  width: 420px;
  height: 424px;
}

.cart__img {
  width: 420px;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart__title {
  position: relative;
  margin-top: 25px;
  margin-bottom: 22px;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.cart__title::before {
  position: absolute;
  bottom: -10px;
  width: 100%;
  max-width: 300px;
  height: 2px;
  background-color: #710707;
  content: "";
}

.cart__place {
  margin-bottom: 10px;
  color: #000000;
}

.cart__adress {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

@media only screen and (max-width: 1320px) {
  .tour {
    padding: 60px 0;
    background-color: #fff;
  }

  .tour__title {
    margin-bottom: 83px;
    height: 75px;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
  }

  .tour__carts {
    display: grid;
    grid-template-columns: 330px 330px;
    justify-content: space-evenly;
  }

  .tour__cart {
    margin-bottom: 40px;
    width: 330px;
    height: 345px;
  }

  .cart__img {
    width: 330px;
    height: 215px;
  }

  .cart__title {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
  }

  .cart__title::before {
    width: 100%;
    max-width: 150px;
    height: 2px;
    background-color: #710707;
    content: "";
  }

  .cart__place {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  .cart__adress {
    font-size: 16px;
    line-height: 29px;
    color: #000000;
  }
}
@media only screen and (max-width: 930px) {
  .tour {
    padding: 40px 0;
  }

  .tour__title {
    margin-bottom: 63px;
    height: 40px;
    font-size: 60px;
    line-height: 60px;
  }

  .tour__title::before {
    bottom: -20px;
  }

  .tour__carts {
    display: grid;
    grid-template-columns: 280px 280px;
    justify-content: space-evenly;
  }

  .tour__cart {
    margin-bottom: 40px;
    width: 280px;
    height: 301px;
  }

  .cart__img {
    width: 280px;
    height: 180px;
  }

  .cart__title {
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 3px;
  }

  .cart__title::before {
    width: 100%;
    max-width: 150px;
    height: 2px;
    background-color: #710707;
    content: "";
  }

  .cart__place {
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  .cart__adress {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
@media only screen and (max-width: 624px) {
  .tour__title {
    height: 40px;
    font-size: 28px;
    line-height: 40px;
  }

  .tour__carts {
    display: block;
  }

  .tour__cart {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 100%;
    max-width: 330px;
    height: 295px;
  }

  .cart__img {
    width: 100%;
    max-width: 330px;
    height: auto;
  }

  .cart__title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 5px;
  }

  .cart__place,
.cart__adress {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
}
.explore {
  padding: 75px 0;
  background-color: #000000;
}

.explore__inner {
  display: flex;
  justify-content: space-between;
}

.explore__content-left {
  padding-right: 3px;
  width: 100%;
  max-width: 660px;
}

.explore__title {
  width: 100%;
  position: relative;
  margin-bottom: 103px;
  font-family: "Forum", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.explore__title::before {
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 660px;
  height: 3px;
  background-color: #710707;
  content: "";
}

.explore__item {
  max-width: 660px;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
}

.explore__item--yellow {
  color: #9d8665;
}

.explore__item:last-child {
  margin-bottom: 0px;
}

.content-right {
  width: 100%;
  max-width: 620px;
  min-height: auto;
}

.explore__img {
  width: 100%;
  max-width: 620px;
  height: auto;
}

@media only screen and (max-width: 1320px) {
  .explore {
    padding: 60px 0;
  }

  .explore__inner {
    display: block;
  }

  .explore__content-left {
    margin: 0 auto;
    padding-right: 0;
    width: 100%;
    max-width: 984px;
  }

  .explore__title {
    margin-bottom: 83px;
    font-size: 50px;
    line-height: 70px;
  }

  .explore__list {
    margin-bottom: 62px;
  }

  .explore__item {
    max-width: 984px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 38px;
  }

  .explore__item:last-child {
    margin-bottom: 0px;
  }

  .explore__item:nth-child(3) {
    display: none;
  }

  .content-right {
    margin: 0 auto;
    width: 100%;
    max-width: 728px;
    min-height: auto;
  }

  .explore__img {
    width: 100%;
    max-width: 728px;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 930px) {
  .explore__title {
    margin-bottom: 63px;
    font-size: 40px;
    line-height: 60px;
  }

  .explore__item {
    display: none;
  }
}
@media only screen and (max-width: 624px) {
  .explore {
    padding: 40px 0;
  }

  .explore__title {
    font-size: 28px;
    line-height: 40px;
  }

  .explore__item {
    display: none;
  }
}
.youtube__describe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.youtube__heading {
  white-space: nowrap;
  max-width: 610px;
  width: 100%;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 75px;
  padding-bottom: 75px;
  margin: 0px;
  color: #9D8665;
}

.youtube__commet {
  max-width: 720px;
  width: 100%;
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
}

.youtube__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.youtube__vediofirst {
  width: 100%;
  max-width: 1440px;
  height: 900;
}

.second {
  max-width: 452px;
  width: 100%;
  height: 250px;
}

.youtube__slider {
  display: block;
  margin: 0px auto;
  max-width: 200px;
  height: 12px;
  padding-top: 40px;
  padding-bottom: 75px;
}

@media only screen and (max-width: 1024px) {
  .youtube__heading {
    max-width: 360px;
    white-space: nowrap;
    width: 100%;
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
  }

  .youtube__commet {
    display: none;
  }

  .youtebe__vediofisrt {
    max-width: 984px;
    width: 100%;
    height: 60px;
  }

  .second {
    max-width: 300px;
    width: 100%;
    height: 170px;
  }
}
@media only screen and (max-width: 768px) {
  .youtube__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
  }

  .youtebe__vediofisrt {
    max-width: 728px;
    width: 100%;
    height: 385px;
  }

  .youtube__list {
    padding-top: 21px;
  }

  .second {
    max-width: 300px;
    width: 100%;
    height: 170px;
  }

  .thirth {
    display: none;
  }

  .youtube__slider {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 420px) {
  .youtube__heading {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
    max-width: 253px;
    width: 100%;
    font-size: 28px;
  }

  .youtube__slider-img {
    max-width: 174px;
    width: 100%;
  }
}
.gallery {
  background-color: #030303;
}

.gallery__img1, .gallery__img2 {
  display: none;
}

.gallery__heading {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 75px;
  padding-bottom: 70px;
}

.gallery__img {
  max-width: 1440px;
  width: 100%;
  height: 1960px;
}

@media only screen and (max-width: 1320px) {
  .gallery__heading {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
  }

  .gallery__img {
    max-width: 1004;
    width: 100%;
    height: 1265px;
  }
}
@media only screen and (max-width: 930px) {
  .gallery__heading {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .gallery__img {
    display: none;
  }

  .gallery__img1 {
    display: inline-block;
    max-width: 930px;
    width: 100%;
  }

  .gallery__img2 {
    display: none;
  }
}
@media only screen and (max-width: 451px) {
  .gallery__heading {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
  }

  .gallery__img {
    display: none;
  }

  .gallery__img1 {
    display: none;
  }

  .gallery__img2 {
    display: block;
    max-width: 600px;
    width: 100%;
  }
}
.tickets {
  position: relative;
  padding-bottom: 475px;
}

.tickets__heading {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #9D8665;
  padding-top: 75px;
  padding-bottom: 75px;
  border-bottom: 3px solid #710707;
}

.tickets__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.tickets__img {
  max-width: 720px;
  width: 100%;
  height: 550px;
}

.tickets__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 50px;
}

.tickets__type {
  padding-top: 70px;
  padding-right: 220px;
}

.tickets__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 25px;
  padding-left: 28px;
  color: #000000;
}

.tickets__item-firts {
  position: relative;
  margin: 0px;
}

.tickets__item-firts::after {
  position: absolute;
  background-image: url(/imgs/select.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  display: block;
  max-width: 20px;
  width: 100%;
  height: 20px;
  top: 1px;
  left: -35px;
  content: "";
}

.tickets__item-second {
  position: relative;
  margin: 0px;
}

.tickets__item-second::after {
  position: absolute;
  background-image: url(/imgs/ellipse-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  display: block;
  max-width: 20px;
  width: 100%;
  height: 20px;
  top: 1px;
  left: -35px;
  content: "";
}

.tickets__item-thirth {
  position: relative;
  margin: 0px;
}

.tickets__item-thirth::after {
  position: absolute;
  background-image: url(/imgs/ellipse-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  display: block;
  max-width: 20px;
  width: 100%;
  height: 20px;
  top: 1px;
  left: -35px;
  content: "";
}

.button_div {
  border: 3px solid #000000;
  border-radius: 3px;
  padding: 0px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 32px;
  max-width: 150px;
  width: 100%;
  white-space: nowrap;
}

input[type=number] {
  text-align: center;
  border: none;
  background-color: #ffffff;
  color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  color: #000000;
  line-height: 27px;
  background-color: #fff;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

#decrement {
  padding: 5px 0px;
}

#increment {
  padding: 5px 0px;
}

.tickets__amount {
  padding-top: 70px;
}

.tickets__text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  padding-bottom: 25px;
  padding-left: 90px;
}

.tickets__img {
  max-width: 720px;
  width: 100%;
  height: 550px;
  padding-top: 75px;
}

.tickets__basic {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding-bottom: 15px;
  padding-left: 32px;
}

.tickets__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 32px;
  color: #000000;
}

.tickets__imgs {
  margin-left: 32px;
}

.tickets_btn {
  background-color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  width: 175px;
  display: inline-block;
  letter-spacing: 2px;
  color: #fff;
  padding: 10px 30px 10px 30px;
  border-radius: 3px;
  margin: 0px;
}

.tickets__p {
  margin-left: 8px;
}

.bgimg {
  min-width: 310px;
  width: 100%;
  height: 400px;
  background-image: url(/imgs/bgimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 0%;
  position: absolute;
  z-index: 10;
  content: "";
  top: 67%;
  left: 0%;
}

@media only screen and (max-width: 1366px) {
  .tickets__type {
    padding-right: 100px;
  }
}
@media only screen and (max-height: 1115px) {
  .tickets__type {
    padding-left: 70px;
  }
}
@media only screen and (max-width: 1024px) {
  .tickets__heading {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    padding-top: 55px;
    padding-bottom: 25px;
  }

  .tickets__img {
    max-width: 700px;
    width: 100%;
    padding-top: 55px;
  }

  .tickets__type {
    display: none;
  }

  .tickets__amount {
    max-width: 175px;
    width: 100%;
    height: 50px;
    padding-top: 50px;
  }

  .tickets__text {
    padding-left: 0px;
    padding-bottom: 30px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: #000000;
  }

  .button_div {
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px 20px;
  }

  .tickets__basic {
    padding-left: 0px;
    padding-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }

  .tickets__price {
    padding: 0px;
    padding-top: 50px;
  }

  .tickets__imgs {
    margin: 0px;
  }

  .tickets_btn {
    margin-top: 106px;
  }

  .bgimg {
    top: 63%;
  }
}
@media only screen and (max-width: 881px) {
  .tickets {
    padding-bottom: 530px;
  }

  .tickets__heading {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
  }

  .tickets__img {
    max-width: 444px;
    width: 100%;
    height: 340px;
  }

  .tickets__price {
    padding-top: 30px;
  }

  .tickets__p {
    margin: 0;
  }

  .tickets_btn {
    white-space: nowrap;
    margin-top: 30px;
    width: 150px;
  }

  .bgimg {
    top: 65%;
    height: 300px;
  }
}
@media only screen and (max-width: 605px) {
  .tickets {
    overflow: hidden;
    padding-bottom: 750px;
  }

  .tickets__content {
    flex-direction: column;
    align-items: center;
  }

  .tickets__heading {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;
  }

  .bgimg {
    top: 75%;
    width: 112%;
  }
}
.contacts {
  padding-bottom: 50px;
}

.contacts__heading {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-bottom: 25px;
  color: #9d8665;
  border-bottom: 3px solid #710707;
}

.contacts__map {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contacts__louvre {
  max-width: 960px;
  width: 100%;
  padding-top: 75px;
}

.contacts__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  width: 300px;
  padding-top: 75px;
  padding-bottom: 50px;
  color: #000000;
}

.contacts__address {
  width: 325px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  color: #000000;
  padding-bottom: 25px;
}

.contacts__tel {
  width: 325px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  color: #000000;
  padding-bottom: 25px;
}

.contacts__mail {
  width: 325px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  padding-bottom: 25px;
  color: #000000;
}

@media only screen and (max-width: 1024px) {
  .contacts {
    padding-bottom: 62px;
  }

  .contacts__heading {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #9D8665;
  }

  .contacts__title {
    max-width: 185px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding-top: 60px;
    padding-bottom: 35px;
    max-width: 220px;
    color: #000000;
  }

  .contacts__louvre {
    max-width: 694px;
    width: 100%;
    height: 454px;
    padding-top: 60px;
  }

  .contacts__address {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  .contacts__tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
  }

  .contacts__mail {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  .contacts__map {
    flex-direction: column;
  }

  .contacts__louvre {
    max-width: 728px;
    width: 100%;
    height: 476px;
  }
}
@media only screen and (max-width: 451px) {
  .contacts__heading {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9d8665;
  }

  .contacts__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }

  .contacts__address, .contacts__mail, .contacts__tel {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}
.footer {
  background-color: #000000;
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer__logo {
  max-width: 195px;
  width: 100%;
  height: 50px;
}

.footer__img {
  max-width: 195px;
  width: 100%;
  height: 50px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer__logo:hover {
  opacity: 0.7;
}

.footer__list-none {
  display: none;
}

.footer__item {
  padding-bottom: 25px;
}

.footer__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.footer__list-icon {
  display: flex;
  padding-top: 70px;
}

.footer__item-icon {
  padding-left: 25px;
}

.footer__link-icon {
  display: inline-block;
}

.footer__end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.footer__end::before {
  position: absolute;
  max-width: 1440px;
  width: 100%;
  height: 3px;
  top: -25px;
  background-color: #666666;
  content: "";
}

.footer__end-date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #fff;
}

@media only screen and (max-width: 1320px) {
  .footer__img {
    max-width: 194px;
    width: 100%;
    height: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .footer__inner {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .footer__list-icon {
    max-width: 365px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    padding-top: 30px;
  }

  .footer__item-icon {
    padding: 0px;
    margin-left: 25px;
  }

  .footer__end::before {
    top: -43px;
  }
}
@media only screen and (max-width: 451px) {
  .footer__logo {
    max-width: 400px;
    width: 100%;
  }

  .footer__img {
    max-width: 195px;
    width: 100%;
    height: 50px;
    text-align: start;
  }

  .footer__list-none {
    display: inline-block;
  }

  .footer__link {
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
  }

  .footer__list-icon {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    margin: 0;
  }

  .footer__img-icon {
    max-width: 38px;
    width: 100%;
    height: 38px;
  }

  .none {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */